.container {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.search-input {
  border: 2px solid gray;
  border-radius: 4px;
  font-size: 16px;
  max-width: 350px;
  padding: 8px;
  width: 70%;
}

.message-container {
  align-items: center;
  display: flex;
  height: 50px;
  justify-content: center;
}

.info-message {
  color: gray;
}

.error-message {
  color: red;
}

ul {
  list-style: none;
  padding: 0;
  margin-top: 8px;

  li {
    margin-bottom: 6px;

    strong {
      color: blue;
    }
  }
}